/* Product Listings */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-card .price {
    font-size: 1.1rem;
    color: #c0aa83;
    font-weight: bold;
  }
  
  .product-card .btn {
    padding: 5px 10px;
    background-color: #c0aa83;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .card-title{
    color: #c0aa83;
    font-family: 'Kanit',sans-serif;
    font-size: 25px;
    font-weight: 900;
  }
  
  .card-text{
    font-family: 'Kanit',sans-serif;
    font-size: 13px;
  }
  
  .price-tag{
    color: #c0aa83;
    font-family: 'Kanit',sans-serif;
    font-size: 25px;
    font-weight: 900;
  }
  
  .button-text{
    font-family: 'Kanit',sans-serif;
    font-size: 14px;
    font-weight: 900;
  }
  
  .product-image{
    width:  200px;
    height: 200px;
  }